name: Build and Release

on:
  workflow_call:


jobs:
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Download Build Artifact
      if: github.ref == 'refs/heads/main'
      uses: actions/download-artifact@v2
      with:
        name: build-artifact

    - name: Create Release
      if: github.ref == 'refs/heads/main'
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v0.0.1
        release_name: Release v0.0.1
        body: Release notes for v0.0.1

    - name: Upload Release Artifact
      if: github.ref == 'refs/heads/main'
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./build
        asset_name: build-artifact.zip
